@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 550px;
    gap: 10px;
    padding: 0.8em;
    border:1px solid #0000002d;
    border-radius: 5px;
    position: relative;
    overflow: auto;
    user-select: none;
}
h1 {
    font-size: 1.2em;
}
input[type='text']{
    text-transform: capitalize;
}
.btn {
    width: 100%;
}
.sucess {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 50px;
    overflow: hidden;
    background-color: green;
    color: #FDFDFD;
}
.falha {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 50px;
    overflow: hidden;
    background-color: brown;
    color: #FDFDFD;
}
a, #remover {
    font-family: 'Bebas Neue';
    text-decoration: none;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}