<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
       text-decoration: none;
        font-family: sans-serif;
    }
    nav{
        background-color: grey;
        padding: 1rem;
    }
    a{
        color: #FDFDFD;
        font-weight: 800;
        text-transform: lowercase;
    }
    a:hover{
        color: rgba(0, 0, 0, 0.445);
    }
    table{
        border: 1px solid rgba(128, 128, 128, 0.39);
        width: 100%;
    }
</style>
<nav>
    <a href="/">Pagina 1</a>
    <a href="/pg2">Pagina 2</a>
</nav>