
body {
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 0.7rem;
}
form {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1rem;
}
thead tr td, tbody tr td{
    text-align: center;
}
input {
    width: 100%;
}